body { /* no . means element type */
  text-align: center; /* text-align centers text AND children */
  font-family: sans-serif;
}
button{
  border: 5px solid #444444;
  background-color: #999999;
  text-align: center;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}
.options{
  border: 5px solid #444444;
  background-color: #999999;
  text-align: center;
  color: white;
  padding: 8px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25em;
}