body { /* no . means element type */
  text-align: center; /* text-align centers text AND children */
  font-family: sans-serif;
}
button{
  border: 5px solid #444444;
  background-color: #999999;
  text-align: center;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}
.options{
  border: 5px solid #444444;
  background-color: #999999;
  text-align: center;
  color: white;
  padding: 8px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25em;
}

.options{
  border: 5px solid #444444;
  background-color: #999999;
  text-align: center;
  color: white;
  padding: 8px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #999999;
}

li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
